body{
    margin:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 2em;
    background:rgb(255, 240, 240);
}
img{
    width:30%;
    margin:1.55%;
    box-sizing: border-box;
}

.image1{
    background-image: url(../img/image2.jpg);
    min-height: 700px;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
    background-position:center;
    opacity: 0.90;
}
.image2{
    background-image: url(../img/image4.jpg);
    min-height: 300px;
    background-size: cover;
    
    background-attachment: fixed;
    background-position:center;
    opacity: 0.90;
}
.image3{
    background-image: url(../img/image9.jpg);
    height: 100vh;
    background-size: cover;
    
    background-attachment: fixed;
    background-position:center;
    opacity: 0.90;
}
.text{
    
    text-align:center;
    color:white;
    width:100%;
    top:50%;
    position:absolute;
    font-size:50px;
    text-transform: uppercase;
    letter-spacing: 8px;
    
}
.text .border{
    background:#282e34;
    padding:10px 20px;
   
    
    
}

.section{
    text-align: center;
    background: #282e34;
    color:white;
    font-size: 19px;
    letter-spacing: 1px;
    padding:50px 80px;
}
.section2{
    height: 20px;
    text-align: center;
    background: #282e34;
    color:white;
    padding:20px 40px;
    font-size: 20px;
}



@media(max-width:700px){
    img{
        width:98%;
        margin:1%;
        
    }
    
}
