body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-size: small;
	overflow-x:hidden;
}

#header {
	background-image: url(./main.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	height: 800px;

	color: white;
} 

#logo {
	text-decoration: none;
	
	color: white;
	font-size: 1.5em;
	font-weight: bold;

	position: absolute;
	top: 20px;
	left: 20px;
}

#about {
	text-decoration: none;
	color: white;
	
	margin-top: 20px;

	position: relative;
	left: 85%;
	top: 20px;
}

#contact {
	text-decoration: none;
	color: white;

	margin-top: 20px;
	position: relative;
	left: 88%;
	top: 20px;
}

#header p {
	margin: 0;

	position: absolute;
	top: 55%;
	left: 35%;
	font-weight: bold;
	font-size: 3em;
}

#aboutus {
	border-bottom: 2px solid #C0CA33;

	text-decoration: none;
	color: white;

	margin: 0;

	position: absolute;
	top: 70%;
	left: 45%;
}

#about_area {
	margin: 10%;
	color: black;
	line-height: 1.8em;
}

#about_area #manifesto {
	font-size: xx-small;
	letter-spacing: 3px;
	color: #8BC34A;

	margin-bottom: 2px;
	margin-left: 15px;
}

#about_area h1 {
	margin-top: 0px;
}

#about_area p {
	color: #616161;
    display: inline-block;
    width: 45%;
    margin-right: 20px; 
}

#about_area a {
	color: #8BC34A;
}

#about_area #learn_more {
	margin-left: 47%;
	text-decoration: none;
	border-bottom: 2px solid #8BC34A;
}

#projects_area {
	background-color: #7CB342;
	color: white;
	text-align: center;

	padding: 5%;
}

#projects_area h1 {
	line-height: 1.8em;
}

#projects_area p {
	line-height: 1.8em;
	padding-left: 20%;
	padding-right: 20%;
}

#more_projects {
	margin: 10%;
	text-align: center;
}

#more_projects a {
	text-decoration: none;
	border-bottom: 3px solid #C0CA33;
	color: black;
	font-weight: bold;
}

#design_lovers {
	background-color: #C0CA33;
	color: white;
	text-align: center;

	padding: 5%;
}

#design_lovers h1 {
	line-height: 1.8em;
}

#design_lovers p {
	line-height: 1.8em;
	padding-left: 20%;
	padding-right: 20%;
}

#features {
	margin: 10%;
	color: black;
	line-height: 1.8em;
}

#features #our_benefits {
	font-size: xx-small;
	letter-spacing: 3px;
	color: #8BC34A;

	margin-bottom: 2px;
	margin-left: 15px;
}

#features h1 {
	margin-top: 0px;
}

#features p {
	color: #616161;
	width: 50%;
    margin-right: 20px; 
}

#features a {
	color: black;
	text-decoration: none;
	border-bottom: 2px solid #616161;
}

#footer {
	background-color: #0b0805;
	color: white;
	padding: 5%;
}

.navigation {
	display: inline-block;
}

#footer ul {
	padding: 0;
	list-style: none;
	line-height: 1.6em;
	font-weight: bold;
	font-size: x-small;
	letter-spacing: 2px;
	margin-right: 50px;
}

#footer p {
	font-size: large;
	font-weight: bold;
	margin-top: 0;
}

#footer h3 {
	letter-spacing: 2px;
}

#social {
	margin-left: 70%;
}

#social i {
	margin-right: 10px;
}

.inline_class {
	display: inline;
}

@media screen and (max-width: 980px) {
	#header p {
		font-size: 2.5em;
		text-align: center;
		position: absolute;
		top: 55%;
		right: 0px;
		left: 0px;
}

#aboutus {
	text-align: center;
	position: absolute;
	top: 70%;
}

#about {
	position: relative;
	left: 70%;
	top: 25px;
}

#contact {
	position: relative;
	left: 75%;
	top: 25px;
}

#social {
	margin-left: 0;
}

.inline_class {
	display: block;
}

}