body,html{
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}
.pimag1,.pimag2,.pimag3{
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.pimag1{
    background-image: url(../img/image1.jpg); 
    min-height:100%;
}
.pimag2{
    background-image: url(../img/image2.jpg); 
    min-height:400px;
}
.pimag3{
    background-image: url(../img/image3.jpg);
    min-height:400px; 
}
.section{
    text-align: center;
    padding:50px 80px;
}

.section-light{
    background-color:#f4f4f4;
    color:#666;
}
.section-dark{
    background-color:#282e34;
    color:#ddd;
}
.ptext{
    position: absolute;
    top:50%;
    width:100%;
    text-align: center;
    color:black;
    font-size:27px;
    letter-spacing:8px;
    text-transform: uppercase;
}
.ptext .border{
    background-color: #111;
    color:#fff;
    padding:20px;
}
