/* big tablet to 1200px:from 1024px to 1200px */
@media only screen and (max-width:1200px){
  .hero-text-box{
    width:100%;
    padding: 2%;
  }

  .row{padding:0 2%;}
}


/* Small tablet to big tablet:from 768px to 1023px */
@media only screen and (max-width:1023px){
    .row{
      width:100%;
    }
    body{
      font-size:17px;
    }
    section{
      padding:60px 0;
    }
    .long-copy{
      width:80%;
      margin-left:10%;
    }
    .btn-app img{
      margin-right: 0;;
    }
    .steps-box{
      margin-top:10px;
    }
    .steps-box:last:child{
      margin-top:10px
    }
    .works-steps{
      margin-bottom:40px;
    }
    .works-step:last-of-type{
      margin-bottom:60px;
    }

    .app-screen{
      width:50%;
    }

    .icon-small{
      width:17px;
      margin-right: 5px;
    }
    .city-feature{
      font-size: 90%;
    }
    h3{
      font-size:109%;
    }

    .plan-box{
      width:100%;
      margin-left:0%;
    }
}


/* Small phones to small tablet:from 481px to 767px */
@media only screen and (max-width:767px){
      body{
        font-size: 16px;
      }
      section{
        padding:30px 0;
      }
      .row,.hero-text-box{
        padding:0 4%;
      }
      .icon-big{
        margin-top: 40px;
      }
      .app-screen{
        margin-right:97px;
      }
      h2{
        font-size:140%;
        word-spacing:2px;
      }
      .plan-box div{
        margin-top:10px;
      }
      .main-nav{
        display:none;
      }
      .city{
        margin-top:40px;
      }
      .long-copy{
        width:90%;
        margin-left:5%;
      }
}


/* Small phones:from 0 to 480px */
@media only screen and (max-width:480px){

}
