  /* ---------------------------------------- */
  /*   BASIC SETUP */
  /* ---------------------------------------- */

  *{
    margin:0;
    padding:0;
    -webkit-box-sizing:border-box;
            box-sizing:border-box;
  }

  html{
    background: #fff;
    color:#555;
    font-family:'Lato','sans-serif';
    font-size:20px;
    font-weight:300;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
  }

  .clearfix {zoom:1}
  .clearfix:after{
    content:'.';
    clear:both;
    display:block;
    height: 0;
    visibility: hidden;
  }

  /* ---------------------------------------- */
  /*   RESUABLE-COMPONENT */
  /* ---------------------------------------- */

  .row{
    width:1140px;
    margin:0 auto;
  }

  section{
    padding:80px 0;
  }

  .box{
    padding:1%;
  }

  /* -------HEADINGS--------- */

  h1,h2,h3 {

    font-weight: 300;
    letter-spacing:1px;
    text-transform:uppercase;
  }

  h1{
    font-size: 2em;
    margin-top:0;
    margin-bottom:20px;
    color:#fff;
    font-size:240%;
  }

  h2{
    font-weight: 400;
    font-size:180%;
    text-align:center;
    word-spacing:2px;
    margin-bottom:20px;

  }

  h3{
    font-size:110%;
    margin-bottom:15px;
  }

  h2:after{
    display:block;
    height:2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top:20px;
  }

  /* -------PARAGRAPH--------- */
  .long-copy{
    line-height: 145%;
    width:70%;
    margin-left:15%;
    margin-bottom:30px;
  }

  .box p{
    font-size:90%;
    line-height: 145%;
  }

  /* -------ICONS--------- */
  .icon-big{
    font-size:350%;
    display:block;
    color:#e67e22;
    margin-bottom:10px;
  }

  .icon-small{
    display: inline-block;
    width:30px;
    text-align:center;
    color:#e67e22;
    font-size:120%;
    margin-right: 10px;

    /* secrets to align text and icons */
    line-height: 120%;
    vertical-align: middle;
    margin-top: -4px;
  }


  /* -------BUTTONS--------- */

  .btn{
    display:inline-block;
    padding:10px 30px;
    font-weight:300;
    text-decoration:none;
    border-radius:200px;
    -webkit-transition:background-color 0.4s,border 0.4s,color 0.4s;
    transition:background-color 0.4s,border 0.4s,color 0.4s;
  }

  .btn-full{
    background-color:#e67e22;
    border:1px solid #e67e22;
    color:#fff;
    margin-right:20px;
  }

  .btn-ghost{
    border:1px solid #e67e22;
    color:#e67e22;
  }

  .btn:hover,
  .btn:active{
    background-color:#cf6d17;
  }

  .btn-full:hover,
  .btn-full:active{
    border:1px solid #cf6d17;
  }

  .btn-ghost:hover,
  .btn-ghost:active{
    color:#fff;
  }

  /* ---------------------------------------- */
  /*   HEADER COMPONENTS */
  /* ---------------------------------------- */

  header{
    background-image:-webkit-gradient(linear,left top, left bottom,from(rgba(0,0,0,0.7)),to(rgba(0,0,0,0.7))),url(img/hero.jpg);
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(img/hero.jpg);
    height: 100vh;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
  }

  .hero-text-box{
    position: absolute;
    width:1140px;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%,-50%);
            transform:translate(-50%,-50%);
  }

  .logo{
    height: 100px;
    width:auto;
    float:left;
    margin-top:20px;
  }

.logo-black{
  display: none;
}

/* Main navi */



  .main-nav{
    float:right;
    list-style:none;
    margin-top:50px;
  }

  .main-nav li{
    display:inline-block;
    margin-left:40px;
  }

  .main-nav li a{
    padding:8px 0;
    color:#fff;
    text-decoration:none;
    text-transform:uppercase;
    font-size:90%;
    -webkit-transition:border-bottom 0.4s;
    transition:border-bottom 0.4s;
    border-bottom:2px solid transparent;

  }

  .main-nav li a:hover,
  .main-nav li a:active{
    border-bottom:2px solid #e67e22;
  }

  .logo-black{
    height: 50px;
    width:auto;
    float:left;
    margin:5px 0;
  }


/* STICKY NAVI */
.sticky{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  background-color: rgba(255, 255, 255, 0.98);
  box-shadow:0 2px 5px #efefef;
  z-index:9999;
}
.sticky .main-nav li a{
  padding:16px 0;
  color:#555;


}
.sticky .logo{
  display:none;
}

.sticky .logo-black {
  display: block;
}

.sticky .main-nav{
  margin-top:18px;
}

  /* ---------------------------------------- */
  /*   MEALS */
  /* ---------------------------------------- */

  .section-meals{
    padding:0;
  }

  .meals-showcase{
    list-style:none;
    width:100%;
  }

  .meals-showcase li{
    display:block;
    float:left;
    width:25%;
  }

  .meal-photo{
    width:100%;
    margin:0;
    overflow:hidden;
    background-color: #000;
  }

  .meal-photo img{
    opacity:0.7;
    width:100%;
    -webkit-transform:scale(1.15);
            transform:scale(1.15);
    -webkit-transition:opacity 0.5s;
    transition:opacity 0.5s;
    -webkit-transition:-webkit-transform 0.5s;
    transition:-webkit-transform 0.5s;
    transition:transform 0.5s;
    transition:transform 0.5s, -webkit-transform 0.5s;
  }

  .meal-photo img:hover{
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
    opacity:1;
  }

  /* ---------------------------------------- */
  /*   HOW IT WORKS */
  /* ---------------------------------------- */

  .section-steps{
    background-color: #f4f4f4;
  }

  .steps-box:first-child{
    text-align:right;
    padding-right:3%;
    margin-top:30px;
  }

  .steps-box:last-child{
    padding-left:3%;
    margin-top:70px
  }

  .app-screen{
    width:40%;
  }

  .works-step{
    margin-bottom:50px;
  }

  .works-step:last-child{
    margin-bottom:80px;
  }

  .works-step div{
    color:#e67e22;
    border:2px solid #e67e22;
    display:inline-block;
    border-radius:50%;
    height:50px;
    width:50px;
    text-align:center;
    padding:5px;
    float:left;
    font-size:150%;
    margin-right:20px;
  }

  .btn-app img{
    height:50px;
    width:auto;
    margin-right: 10px;
  }


  /* ---------------------------------------- */
  /*   CITY SECTION */
  /* ---------------------------------------- */

  .city{
    width:100%;
    margin-bottom:15px;
  }

  /* ---------------------------------------- */
  /*   TESTIMONIALS */
  /* ---------------------------------------- */

  .section-testimonials {
    background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(0, 0, 0, 0.8)),to(rgba(0, 0, 0, 0.8))),url(img/back-customers.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)),url(img/back-customers.jpg);
    background-size:cover;
    color:#fff;
    background-attachment: fixed;
  }

  blockquote{
    padding:2%;
    /* font-family: i; */
    line-height: 145%;
    position: relative;
    margin-top:40px;
  }

  blockquote:before {
     content:"\201C";
     font-size: 500%;
     display: block;
     position: absolute;
     top:-5px;
     left:-3px;
   }

  cite{
    font-size: 90%;
    margin-top:25px;
  }

  cite img {
    height: 50px;
    border-radius:50%;
    margin-right: 10px;
    vertical-align: middle;
  }

  /* ---------------------------------------- */
  /*   SIGN UP */
  /* ---------------------------------------- */


  .section-plans {
    background-color:#f4f4f4;
  }

  .plan-box{
    background-color: #fff;
    border-radius:5px;
    width:90%;
    margin-left:5%;
    -webkit-box-shadow:5px 5px 5px #efefef;
            box-shadow:5px 5px 5px #efefef;
  }

  .plan-box div{
    padding:15px;
    border-bottom:1px solid #e8e8e8;
  }

  .plan-box div:first-child{
    background-color: #fcfcfc;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
  }

  .plan-box div:last-child{
    text-align: center;
    border:none;
  }

  .plan-price{
    font-size:300%;
    margin-bottom:10px;
    font-weight: 100;
    color:#e67e22;
  }

  .plan-price span{
    font-size:30%;
    font-weight: 300;
  }

  .plan-price-meal{
    font-size:80%;
  }

  .plan-box ul{
    list-style:none;
  }

  .plan-box ul li{
    padding:5px 0;
  }


  /* ---------------------------------------- */
  /*   Footer */
  /* ---------------------------------------- */

  footer{
    background-color:#333;
    padding:50px;
    font-size: 80%;
  }

  .footer-nav{
    list-style:none;
    float:left;
  }
  .social-links{
    list-style: none;
    float: right;
  }

  .footer-nav li,
  .social-links li{
    display:inline-block;
    margin-right:20px;
  }

  .footer-nav li:last-child,
  .social-links li:last-child{
      margin-right:0;
  }

  .footer-nav li a{
    text-decoration:none;
    border:0;
    color:#888;
    -webkit-transition:color 0.2s;
    transition:color 0.2s;
  }

  .footer-nav li a:hover{
    color:#ddd;
  }

  footer p {
    color:#888;
    text-align:center;
    margin-top:20px;
  }

  .icon{
    font-size:160%;
    color:#ddd;
  }

  .facebook,
  .twitter,
  .googleplus,
  .instagram{
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
  }

  .facebook:hover{
    color:#3b5998;
  }
  .twitter:hover{
    color:#00aced;
  }
  .googleplus:hover{
    color:#dd4b39;
  }
  .instagram:hover{
    color:#517fa4;
  }



  /* ---------------------------------------- */
  /*   Animations */
  /* ---------------------------------------- */

  .js--wp-1,
  .js--wp-2,
  .js--wp-3{
    opacity:0;
  }

  .js--wp-1 .animated,
  .js--wp-2 .animated,
  .js--wp-3 .animated{
    opacity:1;
  }
